[submodule "deps/websocket.nim"]
	path = deps/websocket.nim
	url = https://github.com/niv/websocket.nim
[submodule "deps/zip"]
	path = deps/zip
	url = https://github.com/zenywallet/zip
[submodule "deps/ed25519"]
	path = deps/ed25519
	url = https://github.com/orlp/ed25519
[submodule "deps/zbar"]
	path = deps/zbar
	url = https://github.com/ZBar/ZBar
	ignore = dirty
[submodule "deps/rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb
	ignore = dirty
