@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section, #main {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#section0 { background: #4682b4; }
#section1 { background: #4682b4; }
#section2 { background: #8fbc8f; }
#section3 { background: #d2b48c; }

#section0, #section1, #section2, #section3 {
  min-height: 667px;
}

@media (min-height: 682px) {
.section a.pagenext {
  position: absolute;
  left: 50%;
  bottom: -20px;
  z-index: 5;
  display: inline-block;
  margin-left: -24px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  outline : none;
}
}
@media (max-height: 683px) {
.section a.pagenext {
  position: absolute;
  left: 50%;
  top: 420px;
  z-index: 5;
  display: inline-block;
  margin-left: -24px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  outline : none;
}
}
.section a.pagenext:hover {
  opacity: .5;
}
.section a.pagenext {
  padding-top: 50px;
}
.section a.pagenext span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.intro {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro-head {
  position: relative;
  width: 100%;
  height: 202px;
  top: 16px;
}
.intro-body {
  width: 100%;
  height: calc(100% - 202px);
}
.intro-body .seed-seg, .intro-body .mnemonic-seg {
  height: 100%;
  margin: 0 14px;
  bottom: 30px;
  min-width: 324px;
  z-index: 2;
  background: linear-gradient(0deg, rgba(136,136,136,0.6), rgba(221,221,221,0.6));
}
.intro-body .seed-seg {
  min-height: 464px;
}
.intro-body .mnemonic-seg {
  min-height: 342px;
}
.intro-body .medit-seg {
  position: absolute;
  top: 14px;
  z-index: 2;
  background: linear-gradient(-90deg, rgba(136,136,136,0.6), rgba(221,221,221,0.6));
  height: 274px;
  width: calc(100% - 28px);
}
.intro-body .medit-autocomp {
  position: absolute;
  bottom: 14px;
  z-index: 2;
  display: inline-block;
  height: calc(100% - 274px - 21px - 35px + 14px);
  width: calc(100% - 28px);
  overflow: auto;
}
.intro-body .form {
  position: relative;
  top: 0;
  height: 210px;
  width: 100%;
}
#minput {
  height: 98px;
  min-height: 98px;
  resize: none;
}
.medit-seg button {
  position: absolute;
  bottom: 14px;
  right: 14px;
  height: 35px;
}
.intro .caption {
  color: #fff;
  font : normal 300 44px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
  min-width: 324px;
  margin: 0 14px;
}
.bt-scan-seed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.ui.buttons .or::before {
  line-height: 1.65em;
}
#qrcanvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 14px 14px;
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
  pointer-events: none;
}
#bt-camchange {
  display: block;
  position: absolute;
  float: right;
  z-index: 4;
}
.method-selector {
  text-align: center;
}
.method-selector .title {
  color: #fff;
  font : normal 300 14px/1 'Josefin Sans', sans-serif;
  padding: 10px 10px 8px 10px;
  height: 65px;
}
.method-selector .button {
  width: 160px;
  z-index: 2;
}
.qr-scanning {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}
.qr-scanning div {
  position: absolute;
  border: 1px solid #fff;
  opacity: 0.8;
  border-radius: 50%;
  animation: qr-scanning 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.qr-scanning div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes qr-scanning {
  0% {
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    opacity: 0.8;
  }
  100% {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 0;
  }
}
.camtools {
  position: absolute;
  top: 21px;
  right: 21px;
  float: right;
  z-index: 4;
  background-color: rgba(136,136,136,0.6);
  visibility: hidden;
}
.ui.cards.seed-card-holder {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  top: -14px;
  left: -7px;
  margin-left: auto !important;
  margin-top: auto !important;
  width: calc(100% + 14px);
  height: 390px;
  -webkit-overflow-scrolling: touch;
  padding-right: 7px;
  z-index: 4;
}
.ui.card.seed-card {
  position: relative;
  width: 220px;
  height: 356px;
  flex: 0 0 auto;
  z-index: 4;
  box-shadow: 1px 1px 7px #4b4861;
  background: linear-gradient(-110deg, rgba(200,200,200,0.9), rgba(255,255,255,0.9));
}
.ui.link.cards .card.seed-card:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.ui.card.seed-card .image {
  background-color: rgba(255, 255, 255, 0.7);
}
.seed-qrcode {
  margin: 12px 12px 7px 12px;
}
.seed-card .tag {
  float: right;
  margin-top: -7px;
  margin-right: -7px;
  font-family: "Courier New", Courier, Consolas, Monaco, monospace;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.ui.card.seed-card > .content > .header {
  margin-top: -8px;
  z-index: 4;
}
.vector-input input {
  width: 125px;
  margin-right: 4px;
}
.ui.card.seed-card > .content {
  font-size: 10px;
}
.ui.card.seed-card > .content .seed-body {
  margin-top: 9px;
}
.ui.card.seed-card > .content .seed {
  font-family: "Courier New", Courier, Consolas, Monaco, monospace;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  letter-spacing: 0.1em
}
.ui.card.seed-card > .content .meta {
  font-size: 10px;
}
.seed-card .vector-lavel {
  display: inline;
  font-size: 12px;
  margin-right: 4px;
}
.ui.card.seed-card > .extra {
  padding: 0.25em 1em;
}
.ui.card.seed-card > .bt-seed-del {
  position: absolute;
  top: -7px;
  right: -9px;
  visibility: hidden;
  z-index: 5;
}
.ui.card.seed-card > .bt-seed-del .button {
  background-color: rgba(160, 160, 160, 0.5);
}
.ui.card.seed-card > .bt-seed-del .button:hover {
  background-color: rgba(160, 160, 160, 0.8);
}
.ui.link.cards .card.seed-card:hover .bt-seed-del {
  visibility: visible;
}

.ui.card.seed-card > .bt-seed-del .cut {
  position: relative;
  top: 2px;
  right: 1px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.seed-add-container {
  min-width: 100px;
}
.seed-add-container .bt-add-seed {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wallet-body .seed-seg canvas {
  opacity: 0.4;
}
.ui.buttons.sendrecv > .button, .ui.buttons.settings > .button {
  z-index: 3;
}
.wallet-btns {
  text-align: center;
  margin-top: 16px;
}
.ui.buttons.sendrecv {
  width: 300px;
  min-width: 300px;
  margin: 0 12px;
}
i.send {
  color: #d57171;
}
i.receive {
  color: #23b195;
}
.ui.attached.label.send {
  background-color: rgba(213, 113, 113, 0.5);
  color: #eee;
  padding: 6px 0px 6px 6px;
}
.ui.attached.label.receive {
  background-color: rgba(35, 177, 149, 0.5);
  color: #eee;
  padding: 6px 6px 6px 6px;
}
.ui.attached.label.symbol {
  background-color: rgba(118, 118, 118, 0.5);
  color: #eee;
  padding: 6px 6px 6px 6px;
}
.wallet-head {
  position: relative;
  width: 100%;
  height: 167px;
  top: 16px;
}
.wallet-body {
    width: 100%;
    height: calc(100% - 202px);
}
.wallet-body .seed-seg {
  min-height: 482px;
}
.ui.buttons.settings > .button {
  font-weight: 400;
  background-color: transparent;
  color: #aaa;
}
.ui.buttons.settings > .button:hover {
  background: rgba(167,225,226,0.1);
}
#wallet-balance {
  position: absolute;
  top: 152px;
  left: 28px;
  z-index: 3;
  background: rgba(128,128,128,0.3);
  width: calc(100% - 56px);
  min-width: 296px;
  text-align: center;
  color: #fafafa;
  font: normal 400 20px/1 'arial', sans-serif;
}
.ui.segment.seed-seg {
  border: 1px solid rgba(214,216,218,.25);
}
.ui.basic.buttons > .ui.button.send {
  color: #eee !important;
  font-weight: 400;
  background: rgba(170,170,170,0.6) !important;
}
.ui.basic.buttons > .ui.button.receive {
  color: #eee !important;
  font-weight: 400;
  background: rgba(170,170,170,0.6) !important;
}
.ui.basic.buttons > .ui.button.send:hover, .ui.basic.buttons > .ui.button.receive:hover {
  background: rgba(190,190,190,0.6) !important;
}
.ui.buttons.settings > .ui.button {
  padding-left: 30px;
}
.ui.buttons.settings > .ui.button span {
  padding-left: 4px;
}
#receive-address {
  position: absolute;
  top: 216px;
  left: 28px;
  z-index: 3;
  background: rgba(128,128,128,0.3);
  width: calc(100% - 56px);
  min-width: 296px;
  text-align: center;
  color: #fafafa;
  font: normal 400 13px/1 'arial', sans-serif;
  padding: 7px 0;
}
#receive-address .btn-close {
  position: absolute;
  right: 0em;
  top: 0.42em;
}
#receive-address .btn-maximize {
  position: absolute;
  right: 1.5em;
  top: 0.42em;
}
#ball-info {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 3;
  text-align: center;
  color: #fafafa;
  font: normal 400 9px/1 'arial', sans-serif;
  display: block;
  background: rgba(128,128,128,0.3);
  padding: 4px 4px;
  display: none;
}
